/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mt {
    margin-top: 10px !important;
}

.mb {
    margin-bottom: 10px !important;
}

.hide-banner .mat-horizontal-stepper-header-container {
    display: none;
}

.mat-horizontal-content-container {
    overflow-x: auto;
}
